@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e1e6eb;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
}
#registerForm {
  background-color: #d3bfdb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 260px;
}

#loginForm {
  background-color: #d3bfdb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 260px;
  box-sizing: border-box;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #cccccc;
}

button {
  padding: 10px 20px;
  background-color: #8a64f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #4a0869;
}
